.PaperContainer {
    margin: 16px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  /* @media (max-width: 1200px) { */
    /* .PaperContainer { */
      /* flex-direction: column; */
    /* } */
  /* } */
  